@import 'mobile';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.slide {
  background-color: #282c34;
  flex: 1;
  height: 100%;
  display: flex;
  color: #fff;
  text-align: left;
  padding-left: 12%;
  padding-right: 40px;

  .sub-text {
    color: #b8b5b5;
    font-weight: 300;
  }
}

.side-menu {
  display: flex;
  background-color: #262a33;
  position: fixed;
  border-right-width: 0.1px;
  border-right-color: #36363a6c;
  border-right-style: solid;
  z-index: 100;
}

.tab {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 6px;
  justify-content: center;
  align-items: center;
}

.tab:hover {
  background-color: #2c303a;
}

.aboutme {
  p {
    font-size: 17px;
  }
}

:focus {
  outline: none;
}

