.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.slide {
  background-color: #282c34;
  flex: 1;
  height: 100%;
  display: flex;
  color: #fff;
  text-align: left;
  padding-left: 12%;
  padding-right: 40px;

  h1 {
    font-size: 50px;
    font-weight: 900;
  }

  .sub-text {
    color: #b8b5b5;
    font-weight: 300;
  }
}

.col {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.row {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.side-menu {
  display: flex;
  background-color: #262a33;
  height: 100%;
  width: 70px;
  position: fixed;
  left: 0;
  top: 0;
  border-right-width: 0.1px;
  border-right-color: #36363a6c;
  border-right-style: solid;
  z-index: 100;
  align-items: center;
  justify-content: center;
}

.tab {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 2px;
  justify-content: center;
  align-items: center;
  border-right-style: solid;
  margin-top: 10px;
  margin-bottom: 10px;
}

