.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.slide {
  background-color: #282c34;
  flex: 1;
  height: 100%;
  display: flex;
  // flex-direction: column;
  color: #fff;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;

  h1 {
    font-size: 50px;
    font-weight: 900;
  }

  .sub-text {
    color: #b8b5b5;
    font-weight: 200;
  }
}

.col {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.row {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
