@media only screen and (min-width: 750px) {
  .side-menu {
    height: 100%;
    width: 70px;
    flex-direction: column;
    top: 0;
    left: 0;
    justify-content: center;
  }

  .slide {
    [aria-label="animation"] {
      width: 60% !important;
      height: 60% !important;
    }

    h1 {
      font-size: 50px;
      font-weight: 900;
    }
  }

  .tab {
    border-right-style: solid;
  }

  .col {
    flex-direction: column;
    align-items: center;
  }

  .row {
    flex-direction: row;
    align-items: center;
  }

  .aboutme {
    img {
      padding-left: 100px;
      height: 400px;
      width: 400px;
    }
    .left-col {
      width: 40%;
    }
  }
}

@media only screen and (max-width: 750px) {
  .slide.row {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .slide {
    padding-top: 40px;

    [aria-label="animation"] {
      width: 80% !important;
      height: auto !important;
    }

    h1 {
      font-size: 40px;
      margin-top: 10px;
    }
  }
  .side-menu {
    height: 70px;
    width: 100%;
    flex-direction: row;
    bottom: 0;
  }

  .tab {
    border-right-style: none;
    border-right-width: 0;
    border-top-style: solid;
  }

  .col {
    flex-direction: row;
  }

  .row {
    flex-direction: column;
  }

  .aboutme {
    img {
      padding-left: 0;
      height: auto;
      width: 100%;
    }
    .left-col {
      width: 100%;
    }
  }
}